header {
  color: $text-color;

  nav {
    min-height: 80px;
    @include container;
    @include flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    .logo {
      height: 100%;
      @include flex;
      align-items: center;
    }

    .logo img {

     height: 50px;
     width: auto;

    }

    span {
      font-size: $font-medium;
      padding-left: 10px;
    }
    .menu li {
      display: inline-block;
      font-size: $font-smaller;
      font-weight: bold;
      padding-right: 20px;
    }

    .menu a {
      color: $text-color;
    }

    .menu button {
      @include CTA-home;
    }
  }

  .jumbotron {
    @include container;
    @include flex;
    padding: 100px 0;

      button {
        @include CTA;
      }
   }
}
