// COLORI ORIGINALI
  // BACKGROUND E COLORE TESTO
  // $text-color: #58402c;
  // $back-main: #ffe7d2;
  // $link-color: #30488f;

  // BUTTON CTA
  // $button-back: #30488f;
  // $button-hover: #233569;
  // $button-color: white;

 // NUOVA PALETTE
$text-color: #040F0F;
$back-main: #7F14D4;
$button-back: #4466D4;
$button-hover: #0E14EE;
$link-color: #4466D4;
$button-color: white;


// SIZE
$font-smaller: 12px;
$font-medium: 20px;
$font-bigger: 25px;
$font-p: 18px;
